{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 
        '@bootstrap_css'
        '@AppBundle/Resources/public/css/style.css'
    %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div role="main" class="container">
        <div class="tm-body">
        {% if not access %}
            <div class="page-header">
                <h2>Need Authorize</h2>
                <p class="lead"><a href="{{ path('facebook_login') }}">Login</a></p>
            </div>
        {% else %}
            <br />
            <div class="page-header">
                <h1>Create Messages</h1>
            </div>
            
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
            {% endfor %}
            
            <div class="row">
                <div class="col-md-11">
                    {{ include('AppBundle:default:partial/request.html.twig', {'form':form}) }}
                </div>
            </div>
            <hr />
            <div class="page-header">
                <h1>List Messages</h1>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Message', 'p.content') }}</th>
                        <th>Posted</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ article.getId() }}</td>
                        <td>{{ article.getContent() }}</td>
                        <td>
                            {% if article.getPosted() %}
                                {{ article.getPosted() }}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">{{ knp_pagination_render(pagination) }}</div>
            <br />
        {% endif %}
        </div>
    </div>
{% endblock %}